.circle-menu li {
  list-style: none;
  display: inline;
}

.circle-menu {
  position: relative;
  width: 20em;
  height: 20em;
  border: dashed 0.0002px rgb(47, 31, 45);
  border-radius: 50%;
  margin: 5em auto 7em;
}

.circle-menu a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6em;
  height: 6em;
  line-height: 8em;
  margin: -3.5em;
  -moz-border-radius: 4em;
  -webkit-border-radius: 4em;
  border-radius: 2em;
  text-align: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.circle-menu a.spiritual {
  background: #009cde;
  opacity: 0.6;
}

.circle-menu a.occupational {
  background: #3a913f;
  opacity: 0.6;
}

.circle-menu a.emotional {
  background: #fecd06;
  opacity: 0.6;
}

.circle-menu a.environmental {
  background: #fa7f00;
  opacity: 0.6;
}

.circle-menu a.intellectual {
  background: #ed2124;
  opacity: 0.6;
}

.circle-menu a.social {
  background: #932683;
  opacity: 0.6;
}

.circle-menu a.physical {
  background: #203864;
  opacity: 0.6;
}

.circle-menu a.spiritual:hover {
  background: #009cde;
  opacity: 1.0;
}

.circle-menu a.occupational:hover {
  background: #3a913f;
  opacity: 1.0;
}

.circle-menu a.emotional:hover {
  background: #fecd06;
  opacity: 1.0;
}

.circle-menu a.environmental:hover {
  background: #fa7f00;
  opacity: 1.0;
}

.circle-menu a.intellectual:hover {
  background: #ed2124;
  opacity: 1.0;
}

.circle-menu a.social:hover {
  background: #932683;
  opacity: 1.0;
}

.circle-menu a.physical:hover {
  background: #203864;
  opacity: 1.0;
}


/* 360/7= 51 roughly so for 7 elements rotate the element every 51deg. 12em translate is half the container */
.circle-menu .spiritual {
  transform: rotate(51deg) translate(12em) rotate(-51deg);
  -webkit-transform: rotate(51deg) translate(12em) rotate(-51deg);
  -ms-transform: rotate(51deg) translate(12em) rotate(-51deg);
}

.circle-menu .occupational {
  transform: rotate(102deg) translate(12em) rotate(-102deg);
  -webkit-transform: rotate(102deg) translate(12em) rotate(-102deg);
  -ms-transform: rotate(102deg) translate(12em) rotate(-102deg);
}

.circle-menu .emotional {
  transform: rotate(153deg) translate(12em) rotate(-153deg);
  -webkit-transform: rotate(153deg) translate(12em) rotate(-153deg);
  -ms-transform: rotate(153deg) translate(12em) rotate(-153deg);
}

.circle-menu .environmental {
  transform: rotate(204deg) translate(12em) rotate(-204deg);
  -webkit-transform: rotate(204deg) translate(12em) rotate(-204deg);
  -ms-transform: rotate(204deg) translate(12em) rotate(-204deg);
}

.circle-menu .intellectual {
  transform: rotate(255deg) translate(12em) rotate(-255deg);
  -webkit-transform: rotate(255deg) translate(12em) rotate(-255deg);
  -ms-transform: rotate(255deg) translate(12em) rotate(-255eg);
}

.circle-menu .social {
  transform: rotate(306deg) translate(12em) rotate(-306deg);
  -webkit-transform: rotate(306deg) translate(12em) rotate(-306deg);
  -ms-transform: rotate(306deg) translate(12em) rotate(-306deg);
}

.circle-menu .physical {
  transition-delay: 1s;
  transform: rotate(357deg) translate(12em) rotate(-357deg);
  -webkit-transform: rotate(357deg) translate(12em) rotate(-357deg);
  -ms-transform: rotate(357deg) translate(12em) rotate(-357deg);
}